<din class="container">

  <div class="row">
    <div class="col-lg-12 mt-5 mb-3 text-center">
      <h2><strong>ユーザー 一覧</strong></h2>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 mb-3 text-right">
      <p class="pr-5">ユーザー検索</p>
      <%= render "admin_user/searches/form", q: @q_user, view_name: "user" %>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-12 mt-3 mb-3 text-center">
      <%= render "admin_user/users/index", users: @users %>
    </din>
  </din>
  <div class="row">
    <div class="col-lg-12 mt-3 mb-3">
      <%= paginate @users %>
    </din>
  </din>
</din>
