<%= render "admin_user/searches/form", q: @q_user %>

<table class="table">
  <thead class="thead">
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr onclick='window.location="<%= '/admin_user/users/' + user.id.to_s %>"' role="link">
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <% if user.is_deleted == true %>
          <td>退会</td>
        <% else %>
          <td>有効</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>