<!--トップページお酒スライドショー-->
<div id="slide">
  <div id="theTarget">
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
    <div class="image4"></div>
    <div class="image5"></div>
  </div>
</div>
<div class="container">
  <!--タイトル-->
  <div class="row">
    <div class="col-lg-12 mt-5 mb-3 text-center">
      <h3>今日はどのお酒でたのしみますか？</h3>
    </div>
  </div>
  <!--お酒タグ（レシピページへのリンク）-->
  <div class="row">
    <div class="col-lg-12 mt-5 mb-3 text-center">
      <h3><%= render "public/recipes/recipe_genre", alcohols: @alcohols %></h3>
    </div>
  </div>
</div>