<div class="container">
  <!--タイトル-->
   <div class="row">
    <div class="col-lg-12 mt-5 mb-3 text-center">
      <h2><strong>検索結果</strong></h2>
    </div>
  </div>
  <!--検索結果-->
  <div class="row">
    <% if @recipes.present? %>
      <!--レシピ一覧-->
      <%= render "public/recipes/index", recipes: @recipes %>
    <% else %>
      <!--ヒットなし-->
      <div class="col-lg-12 text-center">
        <p><strong>検索結果はありません</strong></p>
      </div>
    <% end %>
  </div>
  <!--戻るボタン-->
  <div class="row">
    <div class="col-lg-12 mt-5 mb-3 text-center">
      <%= link_to public_recipes_path, class: 'text-link' do %>
        <i class="fas fa-chevron-circle-left"></i>一覧ページに戻る<i class="fas fa-chevron-circle-left"></i>
      <% end %>
    </div>
  </div>

</div>