<% recipes.each do |recipe| %>
  <div class="col-lg-4  mb-5 text-center">
    <div class="user-bg">
      <%= link_to admin_user_recipe_path(recipe.id),class: 'text-link' do %>
        <p><%= image_tag recipe.get_image(200,200),class: 'image-mypage' %></p>
        <p>レシピ名: <%= recipe.name %></p>
      <% end %>
    </div>
  </div>
<% end %>