<div class="container">
  <div class="row">
    <div class="col-lg-6 mt-3 mb-3 text-center">
      <%= link_to new_admin_user_recipe_path,class: 'text-info' do %>
        <h4><i class="fas fa-plus"></i>レシピ追加</h4>
      <% end %>
    </div>
    <div class="col-lg-6 mt-3 mb-3 text-center">
      <p>レシピ名検索</p>
      <%= render "admin_user/searches/form", q: @q_recipe, view_name: "recipe" %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 mt-5 mb-3 text-center">
      <h2><strong>レシピ一覧</strong></h2>
    </div>
  </div>
  <div class="row">
    <%= render "admin_user/recipes/index", recipes: @recipes %>
  </div>
  <div class="row">
    <div class="col-lg-12 mt-5 mb-3 text-center">
      <%= paginate @recipes %>
    </div>
  </div>
</div>
