<div class="row">
  <div class="col-lg-12 mt-5 mb-3 text-center">
    <h2><strong>検索結果</strong></h2>
  </div>
</div>

<% if @recipes.present? %>
  <div class="row">
    <%= render "admin_user/recipes/index", recipes: @recipes %>
  </div>

<% elsif @users.present? %>
  <div class="row">
    <div class="col-lg-12 mt-3 mb-3 text-center">
      <%= render "admin_user/users/index", users: @users %>
    </div>
  </div>

<% else %>
  <div class="row">
    <div class="col-lg-12 mt-3 mb-3 text-center">
      <p>検索結果はありません</p>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-lg-12 mt-3 mb-3 text-center">
  <% if @recipes.present? %>
    <%= link_to admin_user_recipes_path, class: 'text-link' do %>
      <strong><i class="fas fa-chevron-circle-left"></i>一覧ページに戻る<i class="fas fa-chevron-circle-left"></i></strong>
    <% end %>
  <% end %>
  <% if @users.present? %>
    <%= link_to admin_user_users_path, class: 'text-link' do %>
      <strong><i class="fas fa-chevron-circle-left"></i>一覧ページに戻る<i class="fas fa-chevron-circle-left"></i></strong>
    <% end %>
  <% end %>
  </div>
</div>
