<div class="container">
  <!--タイトル-->
  <div class="row">
    <div class="col-lg-12 mt-5 mb-3 text-center">
      <h2>検索結果</h2>
    </div>
  </div>
  <!--レシピ一覧ページorユーザー一覧ページのどちらかからの検索-->
  <% if @recipes.present? %>
    <!--レシピ一覧-->
    <div class="row">
      <%= render "admin_user/recipes/index", recipes: @recipes %>
    </div>
  <% elsif @users.present? %>
    <!--ユーザー一覧-->
    <div class="row">
      <div class="col-lg-12 mt-3 mb-3 text-center">
        <%= render "admin_user/users/index", users: @users %>
      </div>
    </div>
  <% else %>
    <!--ヒットなし-->
    <div class="row">
      <div class="col-lg-12 mt-3 mb-3 text-center">
        <p>検索結果はありません</p>
      </div>
    </div>
  <% end %>
  
</div>