<h3>退会ページ</h3>

<%= link_to "退会しない", public_user_path, class: 'btn btn-sm btn-success btn-lg mr-4' %>
<%= link_to "退会する", public_users_withdraw_path, method: :patch, class: 'btn btn-sm btn-danger btn-lg' %>