<div class="row justify-content-center mb-5">
  <div class="col-lg-9">
    <% if obj.errors.any? %>
      <div id="error_explanation">
        <div class="border border-danger">
          <h3 class="text-center p-2"><%= pluralize(obj.errors.count, "件のエラー") %> </h3>
            <% obj.errors.full_messages.each do |message| %>
              <span class="list-unstyled text-center"><%= message %></span>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>