<% flash.each do |key, value| %>
  <p class="notice notice-<%= key %>">
    <%= value %>
  </p>
<% end %>
<!--メッセージのslideUp-->
<script>
  window.setTimeout(() => {
    $(".notice").slideUp();
  }, 3000);
</script>